/* style of header */
.header_logo_and_menu_maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header_logo_and_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
    padding-left: 80px;
    padding-right: 32px;
}

.burger_menu {
    font-size: 64px;
    color: white;
}

@media(min-width: 320px) and (max-width: 1200px) {
    .header_logo_and_menu {
        height: 80px;
        padding: 0 16px;
    }

    .burger_menu_none {
        display: none;
    }
}

/* end of header-style */

/* style of hero section */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.restaurant_name_and_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}

.headline_one_text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.headline_one_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headline_one_color {
    color: rgba(231, 108, 31, 1);
}

.hero_text {
    font-size: 24px;
    font-weight: bold;
}

.review_container {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 8px;
    background-color: rgba(250, 202, 172, 1);
    border-radius: 4px;
}

.review_star {
    font-size: 24px;
}

.review_rating {
    font-size: 20px;
    font-weight: bold;
}

.reviewer {
    font-size: 20px;
}

@media(min-width: 320px) and (max-width: 1200px) {
    .hero {
        padding: 0 16px;
    }

    .headline_one_text_container {
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 40px;
    }

    .reviewer {
        font-size: 18px;
    }

    .hero_text {
        font-size: 22px;
        text-align: center;
        line-height: 1;
    }
}

/* end of hero section*/

/* style of navigation section*/
.navigation {
    width: 100%;
    background-color: rgba(253, 234, 220, 1);
    margin-bottom: 48px;
    padding-left: 80px;
    padding-right: 32px;
}

.menu_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    max-width: 1440px;
    margin: 0 auto;

}

.category {
    font-size: 32px;
    font-weight: bold;
    color: rgba(54, 53, 52, 1);
}

.category:hover {
    font-weight: bold;
    color: rgba(231, 108, 31, 1);
}

@media(min-width: 320px) and (max-width: 1200px) {
    .navigation {
        padding: 0 16px;
        margin-bottom: 16px;
    }

    .menu_navigation {
        flex-direction: column;
        gap: 8px;
    }

    .category {
        font-size: 22px;
    }
}

/* style of dish_content_wrapper */
.dish_content_wrapper {
    position: relative;
}

.dish_content_wrapper_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
}

/* end of dish_content_wrapper */

/* style of basket */
.basket_full_info {
    width: 100%;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    width: 100%;
    background-color: rgba(54, 53, 52, 1);
    top: 0;
    right: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-top: 40px;
    padding-bottom: 32px;
}

.basket_wrapper {
    height: 100%;
    width: 420px;
    position: absolute;
    top: 0;
    right: 0;
}

.order_list {
    width: 100%;
    max-height: 480px;
    overflow-y: auto;
}

.order_list::-webkit-scrollbar {
    width: 10px;
}

.order_list::-webkit-scrollbar-track {
    background: rgba(54, 53, 52, 1);
    border-radius: 8px;
}

.order_list::-webkit-scrollbar-thumb {
    background: rgba(253, 234, 220, 1);
    border-radius: 8px;
}

.order_content_gap_and_pad {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
    padding-right: 56px;
    margin-top: 24px;
}

.delivery_or_pickUp_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.delivery_or_pickUp_label_font {
    color: rgba(253, 234, 220, 1);
    font-size: 16px;
    font-weight: bold;
}

.render_amount {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.render_amount_and_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ordered_dish_content {
    background-color: rgba(253, 234, 220, 1);
    border-radius: 20px;
    border: none;
    width: 320px;
    padding: 16px;
}

.dish_font {
    font-size: 22px;
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    color: rgba(253, 234, 220, 1);
    width: 100%;
    padding-left: 24px;
    padding-right: 56px;
    margin: 24px 0;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.table_border_top>th {
    border-top: 5px solid rgba(253, 234, 220, 1);
    padding-top: 8px;
}

.table_padding_bottom>td {
    padding-bottom: 8px;
}

.basket_closed {
    display: none;
}

.basket_empty_to_full {
    display: none;
}

.basket_empty_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.basket_nothing_text {
    font-size: 24px;
    color: rgba(253, 234, 220, 1);
    line-height: 1;
    margin-top: 40px;
}

.basket_icon {
    font-size: 80px;
    transform: scaleX(-1);
}

@media(min-width: 320px) and (max-width: 1200px) {
    .basket_wrapper {
        display: none;
    }
}

/* end of basket*/

/* style of dish content */
.dish_headline {
    position: relative;
    background-color: rgba(231, 108, 31, 1);
    padding-left: 80px;
    padding-right: 32px;
    width: 100%;
}

.dishes_maxWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.dish_content_maxWidth {
    padding-left: 80px;
    padding-right: 32px;
    max-width: 1440px;
    margin: 0 auto;
}

.dish_img_and_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.dish_recipe {
    width: 60%;
}

.dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    background-color: rgba(253, 234, 220, 1);
    border-radius: 12px;
    padding: 8px;
    margin: 32px 0;
}

.dish_content_width {
    width: 800px;
}

.dish_price_and_addButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 64px;
}

.add_order_button_added {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(231, 108, 31, 1);
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 8px;
}

.pizza_diameter {
    font-size: 40px;
    color: white;
    margin-left: 40px;
}

@media(min-width: 320px) and (max-width: 1200px) {
    .dish_headline {
        height: 60px;
        padding: 0 16px;
        margin-top: 64px;
    }

    .headline_without_sandwiches {
        display: none;
    }

    .dishes_maxWidth {
        justify-content: center;
    }

    .dish_content_maxWidth {
        padding: 0 16px;
    }

    .dish {
        flex-direction: column;
        height: 100%;
    }

    .dish_img_and_description {
        flex-direction: column;
    }

    .dish_content_width {
        width: 100%;
    }

    .dish_recipe {
        width: 100%;
    }

    .dish_recipe_text {
        font-size: 16px;
        margin-top: 8px;
    }

    .dish_price_and_addButton {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 0;
        margin-top: 8px;
    }

    .add_order_button_added {
        padding: 0;
        text-align: center;
    }

}

/* end of dish content */

/* style of footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(231, 108, 31, 1);
}

.footer_maxWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 128px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer_text {
    font-size: 24px;
    color: white;
}

/*end of footer-style */