/* style of header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
}

.header_maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 32px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.burger_menu {
    font-size: 64px;
    color: white;
}

/* end of header-style */

/* style of hero section */
.hero_section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.restaurant_name_and_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}

.headline_one_text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.headline_one_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headline_one_color {
    color: rgba(231, 108, 31, 1);
}

.hero_text {
    font-size: 24px;
    font-weight: bold;
}

.review_container {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 8px;
    background-color: rgba(250, 202, 172, 1);
    border-radius: 4px;
}

.review_star {
    font-size: 24px;
}

.review_rating {
    font-size: 20px;
    font-weight: bold;
}

.reviewer {
    font-size: 20px;
}
/* end of hero section*/

/* style of footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
}

.footer_maxWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer_text {
    font-size: 24px;
    color: white;
}

/*end of footer-style */