/* style of header */
.header_logo_and_menu_maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header_logo_and_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
    padding-left: 80px;
    padding-right: 32px;
}

.burger_menu {
    font-size: 64px;
    color: white;
}

/* end of header-style */

/* style of hero section */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.restaurant_name_and_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}

.headline_one_text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.headline_one_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headline_one_color {
    color: rgba(231, 108, 31, 1);
}

.hero_text {
    font-size: 24px;
    font-weight: bold;
}

.review_container {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 8px;
    background-color: rgba(250, 202, 172, 1);
    border-radius: 4px;
}

.review_star {
    font-size: 24px;
}

.review_rating {
    font-size: 20px;
    font-weight: bold;
}

.reviewer {
    font-size: 20px;
}

/* end of hero section*/

/* style of dish_content_wrapper */
.dish_content_wrapper {
    position: relative;
}

/* end of dish_content_wrapper */

/* style of basket */
.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 800px;
    background-color: rgba(54, 53, 52, 1);
    top: 0;
    right: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.basket_wrapper {
    height: 100%;
    width: 420px;
    position: absolute;
    top: 0;
    right: 0;
}

.order_content_pad {
    padding-left: 24px;
    padding-right: 56px;
}

.render_amount {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.render_amount_and_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ordered_dish_content {
    background-color: rgba(253, 234, 220, 1);
    border-radius: 20px;
    border: none;
    width: 320px;
    padding: 16px;
}

.dish_font {
    font-size: 22px;
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    color: rgba(253, 234, 220, 1);
    width: 100%;
    padding-left: 24px;
    padding-right: 56px;
    margin: 24px 0;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.table_border_top>th {
    border-top: 5px solid rgba(253, 234, 220, 1);
    padding-top: 8px;
}

.table_padding_bottom>td {
    padding-bottom: 8px;
}

/* style of dish content */
.dish_headline {
    position: relative;
    background-color: rgba(231, 108, 31, 1);
    padding-left: 80px;
    padding-right: 32px;
    width: 100%;
}

.dishes_maxWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.dish_content_maxWidth {
    padding-left: 80px;
    padding-right: 32px;
    max-width: 1440px;
    margin: 0 auto;
}

.dish_img_and_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.dish_recipe {
    width: 60%;
}

.dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: rgba(253, 234, 220, 1);
    border-radius: 12px;
    padding: 8px;
    margin: 32px 0;
}

.dish_content_width {
    width: 800px;
}

.dish_price_and_addButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.pizza_diameter {
    font-size: 40px;
    color: white;
    margin-left: 40px;
}

/* end of dish content */

/* style of footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(231, 108, 31, 1);
}

.footer_maxWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 128px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer_text {
    font-size: 24px;
    color: white;
}

/*end of footer-style */