/* style of header */

.burger_menu_button {
    background-color: rgba(231, 108, 31, 1);
    border: none;
    transform: rotate(90deg);
}

.logo_img {
    width: 106px;
    height: 48px;
}

.hero_background_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
}

.burger_logo_img {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: solid 12px rgb(253, 234, 220);
}

.dish_icon {
    position: absolute;
    width: 88px;
    height: 94px;
}

.burger_dish_img {  
    object-fit: cover;
    height: 120px;
    width: 200px;
    border-radius: 12px;
}