/* style of header */

.burger_menu_button {
    background-color: rgba(231, 108, 31, 1);
    border: none;
    transform: rotate(90deg);
}

.logo_img {
    width: 106px;
    height: 48px;
}

.hero_background_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
}

.burger_logo_img {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: solid 12px rgb(253, 234, 220);
}

.dish_icon {
    position: absolute;
    width: 88px;
    height: 94px;
}

.dish_img {
    object-fit: cover;
    height: 120px;
    width: 200px;
    border-radius: 12px;
}

.dish_img_position_5 {
    object-position: left;
}

.dish_img_position_6 {
    object-position: top;
}

.dish_img_position_7 {
    object-position: right;
}

.order_button_content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 24px;
    padding-right: 56px;
}

.order_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Palanquin', sans-serif;
    background-color: rgba(231, 108, 31, 1);
    color: rgba(253, 234, 220, 1);
    font-size: 32px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 64px;
    border: none;
}

.add_order_button {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(54, 53, 52, 1);
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 130px;
    padding: 8px;
}

.plus_order_button_size {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
}

.add_order_button:hover {
    color: rgba(231, 108, 31, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    ;
}

.add_order_button_none {
    display: none;
}

.add_oder_button_newColor {
    color: rgba(231, 108, 31, 1);
}

.add_order_button_width {
    width: 80px;
}

.dish_order_buttons_none {
    display: none;
}

.dish_order_buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.dish_font_button {
    background-color: rgba(253, 234, 220, 1);
    border: none;
    font-size: 22px;
    font-weight: bold;
}

.dish_font_button:hover {
    color: rgba(231, 108, 31, 1);
    background-color: rgba(253, 234, 220, 1);
    border: none;
    font-size: 22px;
    font-weight: bold;
}

.dish_font_button_none {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cfcece;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(253, 234, 220, 1);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgba(231, 108, 31, 1);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(231, 108, 31, 1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.order_icon {
    transform: scaleX(-1);
    height: 56px;
}

.close_order_button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    color: rgba(253, 234, 220, 1);
    background-color: rgba(54, 53, 52, 1);
    border: none;
    font-size: 16px;
}

.basket_icon {
    height: 120px;
    width: 120px;
    margin-top: 80px;
}

.basket_responsive_button {
    background-color: rgba(54, 53, 52, 1);
    border: none;
}

.close_basket_button_responsive {
    font-size: 24px;
    border: none;
    color: rgba(253, 234, 220, 1);
    background-color: rgba(54, 53, 52, 1);
}

.close_button_none {
    display: none;
}



.home_button_responsive {
    background-image: url('../assets/icon/home.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.profile_button_responsive {
    background-image: url('../assets/icon/Profile.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.default_button_responsive {
    background-image: url('../assets/icon/Property\ default.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.shopping_button_responsive {
    background-image: url('../assets/icon/shopping_cart.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.home_button_responsive:hover {
    background-image: url('../assets/icon/home_press.svg');
}

.profile_button_responsive:hover {
    background-image: url('../assets/icon/profile_press.png');
}

.default_button_responsive:hover {
    background-image: url('../assets/icon/default_press.svg');
}

.shopping_button_responsive:hover {
    background-image: url('../assets/icon/shoping_cart_press.svg');
}

.shopping_button_responsive_count {
    position: relative;
    background-image: url('../assets/icon/shopping_cart_count.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

@media(min-width: 320px) and (max-width: 1200px) {
    .logo_img {
        height: 32px;
        width: 80px;
    }

    .hero_background_img {
        margin-top: 24px;
        height: 320px;
        border-radius: 16px;
    }

    .burger_logo_img {
        top: 290px;
        height: 120px;
        width: 120px;
    }

    .dish_icon {
        width: 60px;
        height: 60px;
        top: -48px;
    }

    .dish_img {
        width: 100%;
        height: 88px;
    }

    .add_order_button {
        padding: 0;
    }

    .order_button {
        padding: 8px 16px;
        font-size: 24px;
    }

    .order_button_content {
        padding: 0 0;
    }

    .close_button_content {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
    }

    .close_button_none {
        display: block;
    }
}