/* style of header */

.burger_menu_button {
    background-color: rgba(231, 108, 31, 1);
    border: none;
    transform: rotate(90deg);
}

.logo_img {
    width: 106px;
    height: 48px;
}

.hero_background_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
}

.burger_logo_img {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: solid 12px rgb(253, 234, 220);
}

.dish_icon {
    position: absolute;
    width: 88px;
    height: 94px;
}

.dish_img {  
    object-fit: cover;
    height: 120px;
    width: 200px;
    border-radius: 12px;
}

.dish_img_position_5 {
    object-position: left;
}

.dish_img_position_6 {
    object-position: top;
}

.dish_img_position_7 {
    object-position: right;
}

.order_button {
    background-color: rgba(231, 108, 31, 1);
    color: rgba(253, 234, 220, 1);
    font-size: 32px;
    font-weight: bold;
    padding: 16px;
    border-radius: 64px;
    border: none;
}

.add_order_button {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(54, 53, 52, 1);
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 120px;
}