.dialog_order_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(54, 53, 52, 1);
    border-radius: 30px;
    border: 0px;
    padding: 24px;
    width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-100px);
    transition: all 125ms ease-in;
}

.dialog_order_content.dialog_opend {
    transform: translate(-50%, -50%) translateX(0);
    transition: all 125ms ease-in;
}

.dialog_order_content::backdrop {
    background-color: rgba(54, 53, 52, 1);
    opacity: 0;
    transition: all 125ms ease-in;
}

.dialog_order_content.dialog_opend::backdrop {
    opacity: 0.5;
}

.dialog_order_content.dialog_closed {
    opacity: 0;
    transform: translate(-50%, -50%) translateX(-100px);
    transition: all 125ms ease-in;
}

.dialog_order_content.dialog_closed::backdrop {
    opacity: 0;
}

.dialog_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_confirmed_text {
    font-size: 42px;
    font-weight: bold;
    color: rgba(253, 234, 220, 1);
}

.order_confirmed_information {
    font-size: 24px;
    font-weight: bold;
    color: rgba(253, 234, 220, 1);
}

.dialog_header {
    width: 100%;
}

@media(min-width: 320px) and (max-width: 1200px) {
   .order_confirmed_text {
    font-size: 36px;
    } 
}