@font-face {
    font-family: 'Palanquin';
    src: url('/assets/fonts/400/Palanquin-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('/assets/fonts/500/Palanquin-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('/assets/fonts/600/Palanquin-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('/assets/fonts/700/Palanquin-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin Dark';
    src: url('/assets/fonts/700/PalanquinDark-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
