* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Palanquin', sans-serif;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 120px;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(253, 234, 220, 1)
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

@media (min-width: 0px) and (max-width: 1325px) {
    .scroll_lock {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
    }
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    margin-left: 0;
}

h4 {
    line-height: 1;
}

@media(min-width: 0px) and (max-width: 319px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 32px;
        margin-left: 0;
    }

    h4 {
        line-height: 1;
    }
}