* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Palanquin', sans-serif;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 120px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}